@using System.Drawing

<div class="color-picker">
    <div class="color-picker__values-column">
        <label for="picker-mode" class="color-picker__mode-label">Color picker mode</label>
        <select id="picker-mode" class="color-picker__mode-list" value="@Mode" @onchange="@OnModeChanged">
            @foreach (var mode in typeof(PickerMode).GetEnumNames())
            {
                var value = Enum.Parse<PickerMode>(mode);
                var friendlyName = value.FriendlyName();
                <option class="color-picker__mode-option" value="@mode">@friendlyName</option>
            }
        </select>

        <div class="color-picker__input-group">
            @switch (Mode)
            {
                case PickerMode.RgbaDec:
                    <InputComponentDec Value="@Value.R" ValueChanged="@SetR"/>
                    <InputComponentDec Value="@Value.G" ValueChanged="@SetG" />
                    <InputComponentDec Value="@Value.B" ValueChanged="@SetB" />
                    <InputComponentDec Value="@Value.A" ValueChanged="@SetA" />
                    break;
                case PickerMode.RgbaHex:
                    <InputComponentHex Value="@Value.R" ValueChanged="@SetR" />
                    <InputComponentHex Value="@Value.G" ValueChanged="@SetG" />
                    <InputComponentHex Value="@Value.B" ValueChanged="@SetB" />
                    <InputComponentHex Value="@Value.A" ValueChanged="@SetA" />
                    break;
                default:
                    throw new ArgumentException("Selected color picker mode must be implemented.", nameof(Mode));
            }
        </div>
    </div>

    <div class="color-picker__preview" style="background-color: @Model.CssValue;">
    </div>
</div>

@code {
    [Parameter]
    public Color Value
    {
        get => Model.ToColor();
        set => Model.FromColor(value);
    }

    [Parameter]
    public EventCallback<Color> ValueChanged { get; set; }

    [Parameter]
    public PickerMode Mode { get; set; } = PickerMode.RgbaDec;

    [Parameter]
    public EventCallback<PickerMode> ModeChanged { get; set; }

    private ColorVm Model { get; set; } = new ColorVm(255, 0, 0, 255);

    private async Task OnValueChanged()
    {
        if (ValueChanged.HasDelegate)
        {
            await ValueChanged.InvokeAsync(Value);
        }
    }

    private async Task OnModeChanged(ChangeEventArgs args)
    {
        Enum.TryParse<PickerMode>(args!.Value!.ToString(), out var mode);
        Mode = mode;

        if (ModeChanged.HasDelegate)
        {
            await ModeChanged.InvokeAsync(Mode);
        }
    }

    private async Task SetR(int r)
    {
        Model.R = r;
        await OnValueChanged();
    }

    private async Task SetG(int g)
    {
        Model.G = g;
        await OnValueChanged();
    }

    private async Task SetB(int b)
    {
        Model.B = b;
        await OnValueChanged();
    }

    private async Task SetA(int a)
    {
        Model.A = a;
        await OnValueChanged();
    }
}
